<!-- templates/menu_principal.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Menú Principal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    {% if es_admin %}
        <h1>Bienvenido, Administrador</h1>
        <a href="{{ url_for('admin_dashboard') }}">Ir al Panel de Administrador</a>
    {% else %}
        <h1>Bienvenido, Usuario</h1>
        <a href="{{ url_for('usuario_dashboard') }}">Ir al Panel de Usuario</a>
    {% endif %}
</body>
</html>
