<!DOCTYPE html>
<html>
<head>
    <title>Frutería</title>
</head>
<body>
    <h1>Formulario para ingresar datos</h1>
    <form action="/agregar" method="post">
        <label for="fruta">Fruta:</label>
        <input type="text" id="fruta" name="fruta"><br><br>
        
        <label for="temporada">Temporada:</label>
        <input type="text" id="temporada" name="temporada"><br><br>
        
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio"><br><br>
        
        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock"><br><br>
        
        <input type="submit" value="Agregar">
    </form>
</body>
</html>
