<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido</title>
    <style>
        body {
            text-align: center;
        }
        .floating-button {
            position: fixed;
            bottom: 50px;
            right: 50px;
            background-color: #007BFF;
            color: white;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 24px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Bienvenido</h1>
    <a href="/login" class="floating-button">🔒</a>
    <a href="/register" class="floating-button">📝</a>
</body>
</html>
