<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administración</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Estilos.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  {% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
        <!-- Iterar a través de los mensajes flash -->
        {% for msj in mensajes %}
            <!-- Agregar un script para mostrar el mensaje con SweetAlert -->
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    Swal.fire({
                        icon: 'warning',
                        title: '{{ msj }}',
                        showConfirmButton: false,
                        timer: 2000 // 2 segundos
                    });
                });
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
  <div class="container">
    <h2>Registrar pacientes</h2>
    <form action="/actualizarp/{{UpdUsuario.0}}" method="POST">
     
      <input type="text" name="txtNom" placeholder="Nombre" required value="{{UpdUsuario.2}}">
      <input type="text" name="txtAP" placeholder="Apellido Paterno" required value="{{UpdUsuario.3}}">
      <input type="text" name="txtAM" placeholder="Apellido Materno" value="{{UpdUsuario.4}}">
      <br>
      <label for="Fecha de nacimiento">Fecha de nacimiento</label>
      <input type="date" name="txtNac" placeholder="Fecha de nacimiento (dd/mm/yyyy)" required value="{{UpdUsuario.5}}">
      <br>
      <input type="checkbox" id="optionalCheckbox">
      <label for="optionalCheckbox">Datos opcionales</label>
      <div class="optional-data">
        <br>
        <label>Enfermedades Cronicas</label>
        <input type="text" name="txtEnf" placeholder="Enfermedades crónicas"  value="{{UpdUsuario.6}}">
        <br>
        <label>Alergias</label>
        <input type="text" name="txtAlg" placeholder="Alergias" value="{{UpdUsuario.7}}">
        <br>
        <label>Antecedentes familiares</label>
        <input type="text" name="txtAnt" placeholder="Antecedentes familiares" value="{{UpdUsuario.8}}">
      </div>
      <br>
      <button type="submit">Actualizar</button>
      <center>
        <br>
      <a href="/cons_pac" class="btn">Regresar</a>
      </center>
    </form>
  </div>
</body>
</html>
