<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administracion</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Estilos.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  {% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
        <!-- Iterar a través de los mensajes flash -->
        {% for msj in mensajes %}
            <!-- Agregar un script para mostrar el mensaje con SweetAlert -->
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    Swal.fire({
                        icon: 'success',
                        title: '{{ msj }}',
                        showConfirmButton: false,
                        timer: 2000 // 2 segundos
                    });
                });
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
  <div class="container">
    <h2>Administracion de Medicos</h2>
    <form action="{{ url_for('admin') }}" method="POST">
      <input type="text" name="txtRFC" placeholder="RFC" required>
      <input type="text" name="txtNom" placeholder="Nombre" required>
      <input type="text" name="txtAP" placeholder="Apellido Paterno" required>
      <input type="text" name="txtAM" placeholder="Apellido Materno">
      <input type="text" name="txtCed" placeholder="Cedula" required>
      <input type="text" name="txtCorr" placeholder="Correo" required>
      <select name="txtRol" required>
        <option value="" disabled selected>Seleccionar Rol</option>
        <option value="Administrador">Administrador</option>
        <option value="Medico">Medico</option>
      </select>
      <input type="password" name="txtPass" placeholder="Contraseña" required>
      <button type="submit">Ingresar</button>
      <center>
        <br>
      <a href="/menuadmin" class="btn">Regresar al menú principal</a>
      </center>
    </form>
  </div>
</body>
</html>
