<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas Exploracion y Diagnostico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Estilos.css') }}">
</head>
<body>
  {% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
      {% for msj in mensajes %}
        <h3>{{ msj }}</h3>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="container">
    <h2>Citas, Exploracion y Diagnostico</h2>
    <form action="/ced" method="POST">
      <select name="txtID" id="txtPac" required>
        <option value="" disabled selected>Paciente</option>
        {% for paciente in pacientes %}
          <option value="{{ paciente.0 }}">{{ paciente.1 }}</option>
        {% endfor %}
      </select>
      <label>Exploracion</label>
      <br>
      <label>Fecha </label>
      <input type="date"  name="txtDat" placeholder="Fecha (dd/mm/yyyy)" required>
      <input type="text"  name="txtPes" placeholder="Peso" required>
      <input type="text"  name="txtAlt" placeholder="Altura" required>
      <input type="text"  name="txtTem" placeholder="Temperatura (°C)" required>
      <input type="text"  name="txtLPM" placeholder="LPM" required>
      <input type="text"  name="txtOX" placeholder="Oxigeno" required>
      <input type="text"  name="txtED" placeholder="Edad" required>
      <label> Diagnostico</label>
      <input type="text"  name="txtSint" placeholder="Sintomas" required>
      <input type="text" name="txtDig" placeholder="Diagnostico" required>
      <input type="text"  name="txtTrat" placeholder="Tratamiento" required>
      <input type="checkbox" id="optionalCheckbox">
      <label for="optionalCheckbox">Solicitud de estudios</label>
      
      <button type="submit"> Guardar </button>
    </form>
  </div>
</body>
</html>
