<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación eliminar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Estilos.css') }}">
</head>
<body>
    <div class="container">
    <div class="form-main">
        <div class="form-conte">
            <div class="box">
                <form action="/eliminar/{{usuario.1}}" method="POST">
                <h3>¿Está seguro que desea eliminar el medico con RFC {{usuario.1}}? </h3>
                <button type="submit" class = 'btn'>Confirmar</button>
                </form>
                <a href="/cons_med" ><button class="btn">Cancelar</button></a>
            </div>
        </div>
    </div>
</div>
    
</body>
</html>