<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Consultar Pacientes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Estilos.css') }}">
</head>
<body>
  <div class="container">
    <h2>Consultar Pacientes:</h2>
    <form action="{{ url_for('cons_pac') }}" method="POST">
      <input type="text" name="txtBuscarNombre" placeholder="Buscar por nombre" required>
      <div class="info-box">
        <table>
          <tr>
            <th>Nombre</th>
            <th>Modificar</th>
            <th>Exploración</th>
          </tr>
          {% for paciente in pacientes %}
            <tr>
              <td>{{ paciente }}</td>
              <td>
                <label class="selectable">
                  <input type="checkbox" name="chkModificar{{ loop.index }}">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>
                <label class="selectable">
                  <input type="checkbox" name="chkExploracion{{ loop.index }}">
                  <span class="checkmark"></span>
                </label>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <input type="submit" value="Acceder">
    </form>
  </div>
</body>
</html>
