body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  .menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .carrito {
    margin-top: 30px;
  }
  
  #carrito-lista {
    list-style: none;
    padding: 0;
  }
  
  #carrito-lista li {
    margin-bottom: 10px;
  }
  
  #total {
    font-weight: bold;
  }
  
  .receta {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo {
    text-align: center;
    margin-top: 0;
    color: #333;
}

.seccion {
    margin-bottom: 20px;
}

.seccion h3 {
    margin-top: 0;
    color: #007bff;
}

.seccion p {
    margin: 8px 0;
    line-height: 1.4;
}

strong {
    font-weight: bold;
}