{% extends 'plantilla.html'%}
{% block body %}
<h3 class="display-1 text-center mt-5 mb-5 text-primary">Actualizar Album</h3>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <form action="/actualizar/{{ consulId.0 }}" method ="POST">

                <div class="mb-3">
                    <input type="text" class="form-control" name="txtTitulo" value="{{ consulId.1 }}"> 
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control" name="txtArtista" value="{{ consulId.2 }}">
                </div>  

                <div class="mb-3">
                    <input type="number" class="form-control" name="txtAnio" value="{{ consulId.3 }}">
                </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-outline-primary"> Actualizar </button>
            </div>

            </form>
        </div> <!-- md-5-->
    </div> <!-- row -->
</div>
  
    {% endblock %}