<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width device-width, initial-scale=1.">
    <title>Actualizar Album</title>
    <head>
    <center>
    <body>
    <br>
    <h1> Actualizar Album </h1>
    <br>
    <br>
    <form action="/actualizar/{{ consulId.0 }}" method="POST">

        <input type="text" name="txtTitulo" value="{{ consulId.1 }}">
        <input type="text" name="txtArtista" value="{{ consulId.2 }}">
        <input type="number" name="txtAnio" value="{{ consulId.3 }}">
        
        <button type="submit"> Actualizar </button>

    </form>
    </center>
    </body>
</html>