{%extends 'plantilla.html'%}  
{%block body%}
    
    {%with mensajes = get_flashed_messages() %}
        {% if mensajes%}
        {%for msj in mensajes%}
            <h3> {{ msj }} </h3>
        {%endfor%}
        {% endif %}
    {%endwith%}

    <h3 class="display-1 text-center mt-5 mb-5 text-danger"> Eliminar Album</h3>

<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <form action="/eliminaralb/{{ consulId.0 }}" method ="POST">
                    <div class="mb-3">
                        <input type="text" class="form-control"  name="txtTitulo" value="{{ consulId.1 }}">
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control"  name="txtArtista" value="{{ consulId.2 }}">
                    </div>

                    <div class="mb-3">
                    <input type="number" class="form-control"  name="txtAnio" value="{{ consulId.3 }}">
                    </div>
                    
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-danger"> Eliminar </button>
                </div>                
    
            </form>
            </div>    
        </div>
</div>
{%endblock%}