{% extends 'plantilla.html'%}
{% block body %}
        
    

    {%with mensajes= get_flashed_messages()%}
        {% if mensajes%}
            {%for msj in mensajes%}
                <h3> {{ msj }} </h3>
            {%endfor%}
        {% endif %}
    {%endwith%}
    <h1>Gestion de Albums</h1> 
    <div class="row">
        <div class="col-md-5">
    <form action="/guardar" method="POST">

        <input type="text" name="txtTitulo" placeholder="Escribe titulo">
        <input type="text" name="txtArtista" placeholder="Escribe artista">
        <input type="number" name="txtAnio" placeholder="Escribe año">
        
        <button type="submit"> Guardar </button>

    </form>
        </div>
        <div class="col-md-7">
    

    <h1>Albumes gurardados</h1>

    <table>
        <thead>
            <tr>
                <td> ID: </td>
                <td> Nombre: </td>
                <td> Artista: </td>
                <td> Año de publicación: </td>
            </tr>

        </thead>
        <tbody>
            {%for alb in listAlbums %}
            <tr>
                <td>{{ alb.0 }}</td>
                <td>{{ alb.1 }}</td>
                <td>{{ alb.2 }}</td>
                <td>{{ alb.3 }}</td>
                <td>
                    <a href = "/editar/{{ alb.0 }}">Editar</a>
                    <a href = "/eliminar/{{ alb.0 }}">Eliminar</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
</div>
    {% endblock %}
        