<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas Exploracion y Diagnostico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Estilos.css') }}">
</head>
<body>
  <div class="container">
    <h2>Citas, Exploracion y Dagnostico</h2>
    <form action="/ced" method="POST">
      <input type="text" placeholder="ID del paciente" required>
      <label>Exploracion</label>
      <br>
      <label>Fecha </label>
      <input type="date" placeholder="Fecha (dd/mm/yyyy)" required>
      <input type="text" placeholder="Peso" required>
      <input type="text" placeholder="Altura" required>
      <input type="text" placeholder="Temperatura (°C)" required>
      <input type="text" placeholder="LPM" required>
      <input type="text" placeholder="Oxigeno" required>
      <label> Diagnostico</label>
      <input type="text" placeholder="Sintomas" required>
      <input type="text" placeholder="Diagnostico" required>
      <input type="text" placeholder="Tratamiento" required>
      <input type="checkbox" id="optionalCheckbox">
      <label for="optionalCheckbox">Solicitud de estudios</label>
      <br>
      <h2><label> Receta:</label></h2>
      <div class="info-box">
        <p>(RECETA MEDICA)</p>
      </div>
      <button type="submit"> Descargar </button>
    </form>
  </div>
</body>
</html>