<!DOCTYPE html>

<html lang ='es'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frutería</title>


</head>
<body>
    {%with mensajes= get_flashed_messages()%}
        {% if mensajes%}
            {%for msj in mensajes%}
                <h3> {{ msj }} </h3>
            {%endfor%}
        {% endif %}
    {%endwith%}
    <center> <h1>Frutas gurardadas</h1> </center>

    
    <br>
    <table>
        <thead>
            <tr>
                <td> ID: </td>
                <td> Fruta: </td>
                <td> Temporada: </td>
                <td> Precio: </td>
                <td> Stock: </td>
            </tr>

        </thead>
        <tbody>
            {%for alb in listAlbums %}
            <tr>
                <td>{{ alb.0 }}</td>
                <td>{{ alb.1 }}</td>
                <td>{{ alb.2 }}</td>
                <td>{{ alb.3 }}</td>
                <td>{{ alb.4 }}</td>
                <td>
                    <a href = "/editar/{{ alb.0 }}">Editar</a>
                    <a href = "/eliminar/{{ alb.0 }}">Eliminar</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

</body>

</html>